@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Open+Sans&family=Poppins:wght@200&family=Roboto:wght@300&family=Shantell+Sans:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* color => #209 */

#username {
    border-bottom-color: #209CEE;
    font-family: Poppins;
    outline: none;
    font-weight: bold;
    /* background-color: #E0E2DB; */
}

#start {
    background-color: #209CEE;
}

#topics {
    font-family: "Roboto";
    border: 1px solid #209CEE;
    cursor: pointer;
}

.options {
    display: none;
}

#subjects, .options{
    border-color: #209CEE;
}

#login-interface {
    min-height: 90vh;
    display: grid;
    align-items: center;
    grid-template-columns: 80%;
    justify-content: center;
}