@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Rubik+Burned&display=swap');

/* mobile first design */
/* since this time around, it will be viewed majorly on phones... */
/* the rest is just design */
body {
    background-color: #fbfaff;
}

#home {
    cursor: pointer;
}

header a, nav a {
    color: white;
    text-decoration: none;
}

header a:hover, nav a:hover {
    color: white;
    text-decoration: none;
}


#logo {
    font-family: "Leckerli One";
    color: white;
    background-color: #274690;
}
/* #274690 */
/* 0A014F */

nav {
    background-color: #274690;
    color: white;
}

.remark {
    padding: 1em;
    border: 1px solid #209CEE;
    border-radius: 5px;
    margin-top: 6px;
}

/* this is will be where will toggle on it's visibility */
/* these guys must be extremely serious */

#login-info {
    border: 1px solid #209CEE;
    margin-top: 1em;
    max-height: 20vh;
    overflow: auto;
}

#added-subjects {
    height: 70px;
    overflow-y: auto;
    list-style-type: none;
}