@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Rubik+Burned&display=swap');

/* mobile first design */
/* since this time around, it will be viewed majorly on phones... */
/* the rest is just design */
.fashakin {
    color: #ff0;
    font-weight: bold;
}

#home {
    cursor: pointer;
}

h1 {
    font-family: "Leckerli One";
    color: white;
    background-color: #209CEE;
}

.info {
    background-color: #209CEE;
}

#first {
    background-color: gold;
    /* border-radius: 5px; */
}

#second {
    background-color: #209CEE;
    /* border-radius: 5px; */
}

#third {
    background-color: rgba(128, 128, 128, 0.4);
    /* border-radius: 7; */
}

#fourth {
    background-color: crimson;
    /* border-radius: 5px; */
}
.author {
    font-size: .5em;
}

.trademark {
    font-size: .8em
}

#quote {
    font-family: 'Montserrat';
    font-style: italic;
}


#reading-guide {
    display: none;
}

.go-to {
    cursor: pointer;
}

nav {
    background-color: #209CEE;
    color: white;
}

.remark {
    padding: 1em;
    border: 1px solid #209CEE;
    border-radius: 5px;
    margin-top: 6px;
}

/* this is will be where will toggle on it's visibility */
/* these guys must be extremely serious */
#theory {
    margin-top: 1em;
    /* display: none;  */
}

#login-info {
    border: 1px solid #209CEE;
    margin-top: 1em;
    max-height: 20vh;
    overflow: auto;
}