@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Rubik+Burned&display=swap');

/* mobile first design */
/* since this time around, it will be viewed majorly on phones... */
/* the rest is just design */
.fashakin {
    color: #ff0;
    font-weight: bold;
}

#home {
    cursor: pointer;
}

h1 {
    font-family: "Leckerli One";
    color: white;
    background-color: #209CEE;
}

.info {
    background-color: #209CEE;
}

#first {
    background-color: gold;
    /* border-radius: 5px; */
}

#second {
    background-color: #209CEE;
    /* border-radius: 5px; */
}

#third {
    background-color: rgba(128, 128, 128, 0.4);
    /* border-radius: 7; */
}

#fourth {
    background-color: crimson;
    /* border-radius: 5px; */
}
.author {
    font-size: .5em;
}

.trademark {
    font-size: .8em
}

#quote {
    font-family: 'Montserrat';
    font-style: italic;
}

