
#exam-interface {
    display: none;
    position: relative;
    height: 85vh;
    display: grid;
    grid-template-rows: 10% 90% ;
    /* background-color: yellow; */
}

#exam-interface #user-state {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
#question-frame {
    /* background-color: blue; */
    max-height: 60%;
    overflow-y: scroll;
}

#keys {
    position: absolute;
    bottom: 0;
}

#userEl {
    background-color: white;
    color: #209CEE;
}

#topicel {
    text-align: right;
}

#sbjel {
    text-align: left;
}

#user-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    grid-column-end: 4;
}

.info-detail {
    padding-left: 10px;
    padding-right: 10px;
    font-size: .6em;
}

#num-keys {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /*we will need some javascript to update this*/
    gap: 5px;
    margin-top: 1.5em;
}

#num-keys p {
    cursor: pointer;
    color: black;
    padding: 4px;
    text-align: center;
    margin: 0;
    border-radius: 5px;
}

#submit {
    position: absolute;
    right: 3%;
}