
body {
    font-family: Poppins;
}

h1 {
    text-align: center;
    /* font-style: italic; */
}

#time {
    width: 80%;
    margin: auto;
    text-align: center;
}

#time-display {
    font-size: 3em;
    padding: 15px;
}

#buttons {
    font-size: em;
}
